/* custom properties */
:root{
  --bright-orange: hsl(31, 77%, 52%); /*first article*/
  --dark-cyan: hsl(184, 100%, 22%);   /*second article*/
  --very-dark-cyan: hsl(179, 100%, 13%); /*third article*/
  --transparent-white-text: hsla(0, 0%, 100%, 0.75); /*paragraph*/
  --very-light-gray: hsl(0, 0%, 95%); /*background, headings, buttons*/

  font-size: 62.5%;
  /* --fs-700: 3rem; */
  --fs-700: clamp(3.5rem, 5vw, 5rem);
  /* --fs-500: 1.25rem; */
  --fs-500: clamp(1.5rem, 2vw, 1.65rem);
  /* --fs-400: 1rem; */
  --fs-400: clamp(1.5rem, 1.75vw, 1.75rem);
}

/* @media only screen and (min-width: 600px) { */
/*   --fs-700: 5rem; */
/*   --fs-500: 1.5rem; */
/*   --fs-400: 1.125rem; */
/* } */

/* default styles */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1{
  font-family: 'Big Shoulders Display', cursive;
  font-size: var(--fs-700);
  color: var(--very-light-gray);
  text-transform: uppercase;
}

p{
  font-family: 'Lexend Deca', sans-serif;
  font-size: var(--fs-400);
  color: var(--transparent-white-text);
}

a{
  font-family: 'Lexend Deca', sans-serif;
  font-size: var(--fs-500);
  text-decoration: none;
}

/* default styles for card */
main{
  display: flex;
  flex-direction: column;
  width: min(1050px, 90%);
  margin: 75px auto;
}

article {
  height: 400px;
}

article figure{
  margin: 30px 50px;
}

article .text-wrapper{
  margin: 30px 50px;
}

article p{
  line-height: 150%;
}

article h1{
  margin: 0px 50px;
}

article a{
  padding: 1.25rem 2.5rem;
  border-top-left-radius:25px;  
  border-top-right-radius:25px;  
  border-bottom-right-radius:25px;  
  border-bottom-left-radius:25px; 
}
article .btn-wrapper{
  margin: 45px 50px;
}

/* card design */
.sedan{
  background-color: var(--bright-orange);
  border-radius: 10px 10px 0px 0px;
}

.sedan a {
  color: var(--bright-orange);
  background-color: var(--very-light-gray);
}
.sedan a:hover {
  color: var(--very-light-gray);
  background-color: var(--bright-orange);
  border: 1px solid var(--very-light-gray);
}

.svux{
  background-color: var(--dark-cyan);
}

.svux a {
  color: var(--dark-cyan);
  background-color: var(--very-light-gray);
}
.svux a:hover {
  color: var(--very-light-gray);
  background-color: var(--dark-cyan);
  border: 1px solid var(--very-light-gray);
}

.luxury{
  background-color: var(--very-dark-cyan);
  border-radius: 0px 0px 10px 10px;
}

.luxury a {
  color: var(--very-dark-cyan);
  background-color: var(--very-light-gray);
}
.luxury a:hover {
  color: var(--very-light-gray);
  background-color: var(--very-dark-cyan);
  border: 1px solid var(--very-light-gray);
}

/* footer */
footer p{
  color: #1f1f1f;
  text-align: center;
}

/* desktop */
@media only screen and (min-width: 810px) {
  body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 97vh;
    margin: 0 auto;
  }
  article {
    height: 500px;
  }
  .sedan{
    border-radius: 10px 0px 0px 10px;
  }
  .luxury{
    border-radius: 0px 10px 10px 0px;
  }
  footer{
    min-height: 3vh;
  }
}
