/*
### Body Copy

- Font size: 15px

### Font

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400

- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700
*/

:root{
  --bright-orange: hsl(31, 77%, 52%); /*first article*/
  --dark-cyan: hsl(184, 100%, 22%);   /*second article*/
  --very-dark-cyan: hsl(179, 100%, 13%); /*third article*/
  --transparent-white-text: hsla(0, 0%, 100%, 0.75); /*paragraph*/
  --very-light-gray: hsl(0, 0%, 95%); /*background, headings, buttons*/
}
